<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Midtrans_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:40:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_01_CheckOutPillow.initiate()[pri:0, instance:com.automation.ui.testCases.TC_01_CheckOutPillow@694abbdc]">&gt;&gt;initiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:40:39</td>   <td>17060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_01_CheckOutPillow.ShoppingCartDetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.automation.ui.testCases.TC_01_CheckOutPillow@694abbdc]">ShoppingCartDetails</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:40:45</td>   <td>22301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_01_CheckOutPillow.verify_OrderSummary()[pri:2, instance:com.automation.ui.testCases.TC_01_CheckOutPillow@694abbdc]">verify_OrderSummary</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:40:49</td>   <td>26262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_01_CheckOutPillow.Select_PaymentMode()[pri:3, instance:com.automation.ui.testCases.TC_01_CheckOutPillow@694abbdc]">Select_PaymentMode</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:40:49</td>   <td>26832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_01_CheckOutPillow.Payment_ByCreditCard(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.automation.ui.testCases.TC_01_CheckOutPillow@694abbdc]">Payment_ByCreditCard</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:41:05</td>   <td>42263</td> <td>&nbsp;</td><td title="&lt;&lt;TC_01_CheckOutPillow.exit()[pri:0, instance:com.automation.ui.testCases.TC_01_CheckOutPillow@694abbdc]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="7275fc">  <td>19/10/13 18:41:06</td>   <td>43315</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_02_CheckOutPillowNegativeTest.initiate()[pri:0, instance:com.automation.ui.testCases.TC_02_CheckOutPillowNegativeTest@38c6f217]">&gt;&gt;initiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="7275fc">  <td>19/10/13 18:41:19</td>   <td>56974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_02_CheckOutPillowNegativeTest.ShoppingCartDetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.automation.ui.testCases.TC_02_CheckOutPillowNegativeTest@38c6f217]">ShoppingCartDetails</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="7275fc">  <td>19/10/13 18:41:23</td>   <td>60426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_02_CheckOutPillowNegativeTest.verify_OrderSummary()[pri:2, instance:com.automation.ui.testCases.TC_02_CheckOutPillowNegativeTest@38c6f217]">verify_OrderSummary</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="7275fc">  <td>19/10/13 18:41:25</td>   <td>62826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_02_CheckOutPillowNegativeTest.Select_PaymentMode()[pri:3, instance:com.automation.ui.testCases.TC_02_CheckOutPillowNegativeTest@38c6f217]">Select_PaymentMode</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="7275fc">  <td>19/10/13 18:41:26</td>   <td>63668</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_02_CheckOutPillowNegativeTest.Payment_ByCreditCard(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.automation.ui.testCases.TC_02_CheckOutPillowNegativeTest@38c6f217]">Payment_ByCreditCard</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="7275fc">  <td>19/10/13 18:42:12</td>   <td>109532</td> <td>&nbsp;</td><td title="&lt;&lt;TC_02_CheckOutPillowNegativeTest.exit()[pri:0, instance:com.automation.ui.testCases.TC_02_CheckOutPillowNegativeTest@38c6f217]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/10/13 18:42:14</td>   <td>111954</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_03_CheckOutPillowFailFlow.initiate()[pri:0, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@49ec71f8]">&gt;&gt;initiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/10/13 18:42:24</td>   <td>122098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_03_CheckOutPillowFailFlow.ShoppingCartDetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@49ec71f8]">ShoppingCartDetails</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/10/13 18:42:28</td>   <td>125610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_03_CheckOutPillowFailFlow.verify_OrderSummary()[pri:2, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@49ec71f8]">verify_OrderSummary</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/10/13 18:42:30</td>   <td>128113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_03_CheckOutPillowFailFlow.Select_PaymentMode()[pri:3, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@49ec71f8]">Select_PaymentMode</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/10/13 18:42:31</td>   <td>128946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_03_CheckOutPillowFailFlow.Payment_ByCreditCard(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@49ec71f8]">Payment_ByCreditCard</td> 
  <td>main@68377659</td>   <td></td> </tr>
<tr bgcolor="d0ad9d">  <td>19/10/13 18:42:33</td>   <td>130463</td> <td>&nbsp;</td><td title="&lt;&lt;TC_03_CheckOutPillowFailFlow.exit()[pri:0, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@49ec71f8]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@68377659</td>   <td></td> </tr>
</table>
