<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_OrderSummary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ShoppingCartDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Select_PaymentMode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Payment_ByCreditCard</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initiate</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
