<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:35:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_03_CheckOutPillowFailFlow.Payment_ByCreditCard(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:4, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@694abbdc]">Payment_ByCreditCard</td> 
  <td>main@310623126</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:35:29</td>   <td>-908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_03_CheckOutPillowFailFlow.Select_PaymentMode()[pri:3, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@694abbdc]">Select_PaymentMode</td> 
  <td>main@310623126</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:35:23</td>   <td>-6878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_03_CheckOutPillowFailFlow.ShoppingCartDetails(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@694abbdc]">ShoppingCartDetails</td> 
  <td>main@310623126</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:35:31</td>   <td>1329</td> <td>&nbsp;</td><td title="&lt;&lt;TC_03_CheckOutPillowFailFlow.exit()[pri:0, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@694abbdc]">&lt;&lt;exit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@310623126</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:35:09</td>   <td>-20262</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_03_CheckOutPillowFailFlow.initiate()[pri:0, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@694abbdc]">&gt;&gt;initiate</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@310623126</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>19/10/13 18:35:26</td>   <td>-3393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_03_CheckOutPillowFailFlow.verify_OrderSummary()[pri:2, instance:com.automation.ui.testCases.TC_03_CheckOutPillowFailFlow@694abbdc]">verify_OrderSummary</td> 
  <td>main@310623126</td>   <td></td> </tr>
</table>
